/* I'm sorry, I had to */
/* Only basic styles for now */

/* shared */
/* index */
/* about */
/* play */
#simon-buttons {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.simon-button {
    max-height: 100px;
}